# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# source insight files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3

# understand tags
/*.udb

# images
*.img
*.bin
*.hex
*.map
*.srec
.depend
docproc
mkenvimage
.depend
.depend.*
arch/mips/include/asm/arch
u-boot
u-boot.lds
include/config.*
include/autoconf.*
include/generated/
lib/asm-offsets.s
tools/hex2bin
tools/img2srec
tools/mkimage
arch/mips/cpu/clouder/asm-offsets.s
include/asm
include/u-boot.lst
.boards.depend

tags
*.orig
*~
.*.swp
\#*#
*.o
*.ko
*.su
*.cmd
*.order
compat_autoconf.h
Module.symvers
.config.mk_md5sum.txt
.compat_autoconf_LOST_REQ_20120308-5-g73dd80a-p
.tmp_versions/

!*.gitignore
!.gitignore
!.mailmap
